# Matplotlib 퀴즈

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
# matplotlib.rcParams['font.family'] = 'Malgun Gothic' # Windows
matplotlib.rcParams['font.family'] = 'AppleGothic' # Mac
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False

data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}
df = pd.DataFrame(data)
df

          영화  개봉 연도  관객 수    평점
0         명량   2014  1761  8.88
1       극한직업   2019  1626  9.20
2  신과함께-죄와 벌   2017  1441  8.73
3       국제시장   2014  1426  9.16
4         괴물   2006  1301  8.62
5        도둑들   2012  1298  7.64
6    7번방의 선물   2013  1281  8.83
7         암살   2015  1270  9.10

### 5) 평점이 9점 이상인 영화의 비율을 확인할 수 있는 원 그래프를 제시된 세부사항을 적용하여 그리시오
+ label : 9점 이상 / 9점 미만
+ 퍼센트 : 소수점 첫째자리까지 표시
+ 범례 : 그래프 우측에 표시

In [13]:
filt=df['평점'] >= 9
values=[len(df[filt]),len(df[-filt])]
# labels=['9점 이상','9점 미만']

# plt.pie(values,labels=labels,autopct='%.1f%%')
# plt.legend(loc=(1,0.3))
# plt.show()

     영화  개봉 연도  관객 수    평점
1  극한직업   2019  1626  9.20
3  국제시장   2014  1426  9.16
7    암살   2015  1270  9.10